[submodule "authentication-service"]
	path = authentication-service
	url = git@github.com:Jnavarr56/commute-analyzer-authentication-service.git
[submodule "nginx-routing-server"]
	path = nginx-routing-server
	url = git@github.com:Jnavarr56/commute-analyzer-nginx-routing-server.git
